<div class="z-0 bg-white flex flex-col justify-center mt-12 sm:mt-14 md:mt-16 lg:mt-20">
    <div class="bg-ebe9e5 flex flex-col justify-center items-center pt-16 pb-6 lg:pt-24 xl:pt-[200px] ">
 
         <!-- Right Image 
         <img class="absolute right-0 top-56 w-44 object-cover z-0" src="../assets/img/food/healthy-meal-3.png" alt="Right Image">
         -->

         <!-- Left Image -->
         <img class="absolute -left-24 top-48 w-44 object-cover z-0" src="../assets/img/food/pasta-1.png" alt="Left Image">
          
         <!-- Text Container -->
         <div class="flex flex-col item-center justify-center z-0 max-w-mb-home-text sm:max-w-sm-home-text md:max-w-md-home-text lg:max-w-lg-home-text">
             <p class="z-0 text-3xl self-center text-center sm:text-4xl lg:text-5xl">good afternoon</p>
             <p class="z-0 mt-1 text-3xl self-center text-center sm:text-4xl lg:text-5xl">Alexandra</p>
             <p class="z-0 mt-2 text-2xl self-center text-center sm:text-4xl lg:text-4xl">ready to make something great?</p>
         </div>

         <div class="w-4/6 lg:mt-16 lg:mb-8 flex flex-col items-center">
            <div class="mt-8 flex flex-row w-4/6 justify-center">
                <h2 class="text-center text-2xl lg:text-4xl">january</h2>
            </div>
            <button class="bg-white hover:bg-597385 border-2 border-gray-400 text-black text-lg rounded-full w-9 h-9 text-center mt-4 lg:mt-28 xl:mt-[150px]">↑</button>
            <div class="bg-white border-2 border-gray-400 rounded-lg p-1 w-48 mt-2 flex flex-col items-center">
                <div class="bg-white border border-gray-400 w-full h-44 rounded-md mb-1 flex flex-col p-3">
                    <!-- date --><div><h3 class="text-2xl">21</h3></div>
                    <!-- content --><div></div>
                </div>
                <div class="bg-white border border-gray-400 w-full h-44 rounded-md mb-1 flex flex-col p-3">
                    <!-- date --><div><h3 class="text-2xl">22</h3></div>
                    <!-- content --><div></div>
                </div>
                <div class="bg-white border border-gray-400 w-full h-44 rounded-md mb-1 flex flex-col p-3">
                    <!-- date --><div><h3 class="text-2xl">23</h3></div>
                    <!-- content --><div></div>
                </div>
                <div class="bg-white border border-gray-400 w-full h-44 rounded-md mb-1 flex flex-col p-3">
                    <!-- date --><div><h3 class="text-2xl">24</h3></div>
                    <!-- content --><div></div>
                </div>
                <div class="bg-white border border-gray-400 w-full h-44 rounded-md mb-1 flex flex-col p-3">
                    <!-- date --><div><h3 class="text-2xl">25</h3></div>
                    <!-- content --><div></div>
                </div>
                <div class="bg-white border border-gray-400 w-full h-44 rounded-md mb-1 flex flex-col p-3">
                    <!-- date --><div><h3 class="text-2xl">26</h3></div>
                    <!-- content --><div></div>
                </div>
                <div class="bg-white border border-gray-400 w-full h-44 rounded-md mb-1 flex flex-col p-3">
                    <!-- date --><div><h3 class="text-2xl">27</h3></div>
                    <!-- content --><div></div>
                </div>
            </div>
            <button class="bg-white hover:bg-597385 border-2 border-gray-400 text-black text-lg rounded-full w-9 h-9 text-center mt-4 lg:mt-28 xl:mt-[150px]">↓</button>
         </div>
 </div>
 <div class="flex flex-col items-center p-6 w-full">
    <h2 class="text-3xl lg:text-4xl">flavourful ideas</h2>
    <p class="text-sm lg:text-base">suggestions to brighten your plate</p>
    <div class="flex flex-col items-center mt-10">
        <button class="bg-0064ac hover:bg-597385 text-white text-lg rounded-md w-80 h-10 text-left pl-4">chicken jalfrezi</button>
        <button class="bg-0064ac hover:bg-597385 text-white text-lg rounded-md w-80 h-10 text-left mt-4 pl-4">spaghetti and meatballs</button>
        <button class="bg-0064ac hover:bg-597385 text-white text-lg rounded-md w-80 h-10 text-left mt-4 pl-4">chicken parmesan</button>
        <button class="bg-0064ac hover:bg-597385 text-white text-lg rounded-md w-80 h-10 text-left mt-4 pl-4">lasagna</button>
    </div>
    <button class="bg-013a63 hover:bg-597385 text-white text-lg rounded-md w-32 h-12 text-center mt-10 sm:mt-6 sm:w-32 sm:h-10 sm:text-lg md:w-36 md:h-11 md:text-xl lg:mt-9">my recipes</button>
 </div>
</div>
