<div class="flex flex-col w-full justify-center items-center p-3 border-t border-gray-300">

    <div class="flex flex-row">
        <a href="https://www.linkedin.com/in/sean-wotherspoon-a085122a4/"><img class="object-cover w-5 rounded-full" src="../assets/img/social-media/linkedin-app-icon.png"></a>
        <a href="https://github.com/Seanspoons"><img class="object-cover w-5 rounded-full mr-2 ml-2" src="../assets/img/social-media/github-icon.png"></a>
        <a href="https://seanspoons.github.io/"><img class="object-cover w-5 rounded-full" src="../assets/img/social-media/portfolio-icon.png"></a>
    </div>

    <div class="flex flex-row mt-3">
        <a class="text-xs text-bg-013a63 underline">terms and conditions</a>
        <p class="text-xs text-gray-300 mr-1 ml-1">|</p>
        <a class="text-xs text-bg-013a63 underline">attributions</a>
    </div>

    <p class="text-xs font-bold mt-3">© 2024 sean wotherspoon</p>
</div>
