<header >
    
    <nav class="fixed top-0 z-20 bg-[#FFFFFF] h-12 w-full shadow-md flex flex-row justify-center sm:h-14 md:h-16 lg:h-20">
        <div class="absolute left-0 top-0 w-10 h-full">
            <button class="justify-start w-10 h-full">|||</button>
        </div>
        <h1 class="text-lg font-bold self-center sm:hidden md:hidden lg:hidden">mp</h1>
        <h1 class="text-lg font-bold self-center hidden sm:text-xl sm:block md:text-2xl md:block lg:text-3xl lg:block">mealpository</h1>
    </nav>
</header>
