<header>
    
    <nav class="fixed top-0 z-20 bg-[#FFFFFF] h-14 w-full shadow-md flex flex-row justify-center sm:h-14 md:h-16 lg:h-20">
        <button (click)="onMenuClick()" class="absolute left-0 justify-start cursor-pointer w-6 h-full ml-5 sm:ml-5 md:w-7 md:ml-6">
            <img class="object-cover" src="../assets/img/hamburger-menu-icon.png">
        </button>
        <img class="self-center sm:hidden object-cover w-8" src="../assets/img/logo/logo-black-icon.png">
        <img class="self-center hidden w-48 sm:block md:w-56 lg:w-64" src="../assets/img/logo/logo-no-background.png">
    </nav>
</header>

<div *ngIf="menuToggled" class="absolute bg-white text-base md:text-lg mt-14 md:mt-16 lg:mt-20 h-full w-5/12 max-w-[250px] top-0 left-0 z-50">
    <p *ngIf="loggedIn" class="px-4 mt-4 md:mt-6">good morning Alexandra</p>
    <ul class="mt-4 md:mt-6">
      <li><a href="#" class="block px-4 py-2 text-black hover:bg-597385">home</a></li>
      <li *ngIf="loggedIn"><a (click)="onListClick('recipes')" class="block px-4 py-2 cursor-pointer text-black hover:bg-597385">recipes</a></li>
      <li *ngIf="loggedIn"><a (click)="onListClick('calendar')" class="block px-4 py-2 cursor-pointer text-black hover:bg-597385">calendar</a></li>
      <li><a (click)="onListClick('help')" class="block px-4 py-2 cursor-pointer text-black hover:bg-597385">help</a></li>
      <li><a (click)="onListClick('settings')" class="block px-4 py-2 cursor-pointer text-black hover:bg-597385">settings</a></li>
      <li *ngIf="loggedIn"><a (click)="onListClick('logout')" class="block px-4 py-2 cursor-pointer text-black hover:bg-597385">log out</a></li>
      <li *ngIf="!loggedIn"><a (click)="onListClick('login')" class="block px-4 py-2 cursor-pointer text-black hover:bg-597385">log in</a></li>
    </ul>
</div>
