<header>
    
    <nav class="fixed top-0 z-20 bg-[#FFFFFF] h-14 w-full shadow-md flex flex-row justify-center sm:h-14 md:h-16 lg:h-20">
        <button (click)="onMenuClick()" class="absolute left-0 justify-start cursor-pointer w-6 h-full ml-5 sm:ml-5 md:w-7 md:ml-6">
            <img class="object-cover" src="../assets/img/hamburger-menu-icon.png">
        </button>
        <img class="self-center sm:hidden object-cover w-8" src="../assets/img/logo/logo-black-icon.png">
        <img class="self-center hidden w-48 sm:block md:w-56 lg:w-64" src="../assets/img/logo/logo-no-background.png">
    </nav>
</header>

<div *ngIf="menuToggled" class="fixed bg-white text-base md:text-lg mt-14 md:mt-16 lg:mt-20 h-full w-5/12 max-w-[250px] top-0 left-0 z-50">
    <p *ngIf="loggedIn" class="px-4 mt-4 md:mt-6">good morning {{ firstName }}</p>
    <ul class="mt-4 md:mt-6">

        <li>
            <a (click)="onListClick('home')">
                <div class="flex flex-row items-center justify-between px-4 py-2 cursor-pointer hover:bg-597385">
                    <img class="w-[26px] h-[25px] object-cover" src="../assets/img/home-icon.png">
                    <p>home</p>
                </div>
            </a>
        </li>
        
        <li *ngIf="loggedIn">
            <a (click)="onListClick('recipes')">
                <div class="flex flex-row items-center justify-between px-4 py-2 cursor-pointer hover:bg-597385">
                    <img class="w-[26px] h-[25px] object-cover" src="../assets/img/recipe-icon.svg">
                    <p>recipes</p>
                </div>
            </a>
        </li>
        
        <li *ngIf="loggedIn">
            <a (click)="onListClick('shopping-list')">
                <div class="flex flex-row items-center justify-between px-4 py-2 cursor-pointer hover:bg-597385">
                    <img class="w-[25px] h-[26px] object-cover" src="../assets/img/shopping-list-icon.svg">
                    <p>shopping list</p>
                </div>
            </a >
        </li>
        
        <li *ngIf="loggedIn">
            <a (click)="onListClick('calendar')">
                <div class="flex flex-row items-center justify-between px-4 py-2 cursor-pointer hover:bg-597385">
                    <img class="w-[26px] h-[26px] object-cover" src="../assets/img/meal-plan-icon.svg">
                    <p>meal plan</p>
                </div>
            </a>  
        </li>    

        <li>
            <a (click)="onListClick('help')">
                <div class="flex flex-row items-center justify-between px-4 py-2 cursor-pointer hover:bg-597385">
                    <img class="w-[25px] h-[26px] object-cover" src="../assets/img/help-icon.svg">
                    <p>help</p>
                </div>
            </a>
        </li>
        
        <li *ngIf="loggedIn">
            <a (click)="onListClick('settings')">
                <div class="flex flex-row items-center justify-between px-4 py-2 cursor-pointer hover:bg-597385">
                    <img class="w-[26px] h-[26px] object-cover" src="../assets/img/settings-icon.svg">
                    <p>settings</p>
                </div>
            </a>
        </li>
        
        <li *ngIf="loggedIn">
            <a (click)="onListClick('logout')">
                <div class="flex flex-row items-center justify-end px-4 py-2 cursor-pointer hover:bg-597385">
                    <p>log out</p>
                </div>
            </a>
        </li>

        <li *ngIf="!loggedIn">
            <a (click)="onListClick('login')">
                <div class="flex flex-row items-center justify-end px-4 py-2 cursor-pointer hover:bg-597385">
                    <p>log in</p>
                </div>
            </a>
        </li>
        
        
    </ul>
</div>
