<div class="z-0 flex flex-col items-center pt-16 pl-6 pr-6 pb-8 mt-12 sm:mt-14 md:mt-16 lg:mt-20">

    <h1 class="text-3xl lg:text-4xl">log in</h1>

    <div class="mt-16 w-full flex flex-col items-center max-w-[500px]">

        <form [formGroup]="loginForm" class="w-full" (ngSubmit)="onSubmit()">
            
            <input 
                id="email"
                formControlName="email"
                type="text"
                placeholder="email"
                class="pl-3 h-12 w-full text-base placeholder-4e4e4e border border-d9d9d9 rounded-md md:h-14"
            >

            <input 
                id="password"
                formControlName="password"
                type="password"
                placeholder="password"
                class="pl-3 h-12 w-full text-base placeholder-4e4e4e border border-d9d9d9 rounded-md mt-6 md:h-14 md:mt-8"
            >

            <div class="flex flex-row justify-between mt-3">
                <div class="flex flex-row mt-2 md:mt-3">

                    <!-- formControlName="staySignedIn" -->
                    <input
                        id="staySignedIn"
                        
                        class="mr-2 h-full"
                        type="checkbox"
                    >

                    <p class="text-base">keep me signed in</p>
                </div>
                <p class="text-base text-013a63 underline mt-2 md:mt-3">forgot password?</p>
            </div>

            <button type="submit" class="bg-013a63 hover:bg-597385 text-white text-lg rounded-md w-full mt-8 h-12 text-center md:h-14 md:mt-10">log in</button>

            <div class="flex flex-row justify-center items-center w-full mt-5 md:mt-6">
                <div class="my-5 border-t border-gray-300 w-1/2"></div>
                <p class="text-4e4e4e text-sm text-center w-1/12">or</p>
                <div class="my-5 border-t border-gray-300 w-1/2"></div>
            </div>

            <button class="bg-white border border-black hover:bg-597385 text-black text-mb-button rounded-md w-full mt-5 h-10 text-center md:h-12 md:mt-6">Sign in with Google</button>

            <button class="bg-black hover:bg-597385 text-white text-mb-button rounded-md w-full mt-4 h-10 text-center md:h-12 md:mt-5">Log in with Apple</button>

            <button class="bg-1877f2 hover:bg-597385 text-white text-mb-button rounded-md w-full mt-4 h-10 text-center md:h-12 md:mt-5">Log in with Facebook</button>

            <div class="flex flex-row justify-center mt-4 mb-4 md:mt-5 md:mb-5">
                <p class="text-base mr-4">don't have an account?</p>
                <p class="text-base underline">sign up</p>
            </div>

        </form>

    </div>
</div>
