<div class="z-0 bg-white flex flex-col justify-center mt-12 sm:mt-14 md:mt-16 lg:mt-20">
    <div class="bg-ebe9e5 flex flex-col justify-center items-center pt-16 pb-6 lg:pt-24 xl:pt-[200px] ">
 
        <!-- Right Image 
        <img class="absolute right-0 top-56 w-44 object-cover z-0" src="../assets/img/food/healthy-meal-3.png" alt="Right Image">
        -->

        <!-- Left Image -->
        <img class="absolute -left-40 top-36 w-64 object-cover z-0 sm:w-72 md:w-80 md:top-24 lg:w-96 xl:w-[450px]" src="../assets/img/food/pasta-1.png" alt="Left Image">

        <!-- Mid-Left Image -->
        <img class="absolute left-80 top-32 hidden w-72 object-cover z-0 xl1730:block xl2100:left-96 xl2100:top-28 xl2100:w-96" src="../assets/img/food/healthy-meal-3.png" alt="Mid-Right Image">
          
        <!-- Text Container -->
        <div class="flex flex-col item-center justify-center z-0 max-w-mb-home-text sm:max-w-sm-home-text md:max-w-md-home-text lg:max-w-lg-home-text">
            <p class="z-0 text-3xl self-center text-center sm:text-4xl lg:text-5xl">good afternoon</p>
            <p class="z-0 mt-1 text-3xl self-center text-center sm:text-4xl sm:mt-3 lg:text-5xl lg:mt-5">{{ firstName }}</p>
            <p class="z-0 mt-2 text-2xl self-center text-center sm:text-3xl sm:mt-4 lg:text-4xl lg:mt-6">ready to make something great?</p>
        </div>

        <div class="w-full px-5 lg:mt-16 lg:mb-8 flex flex-col items-center lg:w-11/12">

            <div class=" mt-8 flex flex-row w-4/6 justify-center">
                <h2 *ngIf="!monthAndYearDifferent" class="w-full max-w-[1376px] text-2xl text-center lg:text-center sm:text-3xl lg:text-4xl">{{ currentMonth }} {{ currentYear }}</h2>
                <h2 *ngIf="monthAndYearDifferent" class="w-full max-w-[1376px] text-2xl text-center lg:text-center sm:text-3xl lg:text-4xl">{{ currentMonthAndYear }}</h2>
            </div>

            <div class="w-full lg:mb-8 flex flex-col items-center lg:w-11/12 lg:flex-row lg:justify-center">

                <button (click)="onCalendarLeftClick()" class="bg-white hover:bg-597385 border-2 border-gray-400 text-black text-lg rounded-full w-9 h-9 text-center mt-4 lg:hidden">↑</button>
                <button (click)="onCalendarLeftClick()" class="bg-white hidden hover:bg-597385 border-2 border-gray-400 text-black text-lg rounded-full w-9 h-9 text-center mr-2 mt-4 lg:block lg:mt-0">←</button>

                <div class="bg-white border-2 border-gray-400 rounded-lg p-1 w-full max-w-[675px] max-h-[600px] mt-2 flex flex-col items-center lg:flex-row lg:mt-3 lg:h-48 lg:w-full lg:max-w-[1376px]">

                    <div [ngClass]="{'border-2': isCurrentDate(datesOfWeek[0]), 'border-gray-600': isCurrentDate(datesOfWeek[0])}" class="bg-white border border-gray-400 w-full h-44 rounded-md mb-1 flex flex-col p-3 lg:mb-0 lg:mr-1 lg:max-w-48">
                        <!-- date --><div><h3 class="text-2xl">{{ datesOfWeek[0] }}</h3></div>
                        <!-- content --><div></div>
                    </div>

                    <div [ngClass]="{'border-2': isCurrentDate(datesOfWeek[1]), 'border-gray-600': isCurrentDate(datesOfWeek[1])}" class="bg-white border border-gray-400 w-full h-44 rounded-md mb-1 flex flex-col p-3 lg:mb-0 lg:mr-1 lg:max-w-48">
                        <!-- date --><div><h3 class="text-2xl">{{ datesOfWeek[1] }}</h3></div>
                        <!-- content --><div></div>
                    </div>

                    <div [ngClass]="{'border-2': isCurrentDate(datesOfWeek[2]), 'border-gray-600': isCurrentDate(datesOfWeek[2])}" class="bg-white border border-gray-400 w-full h-44 rounded-md mb-1 flex flex-col p-3 lg:mb-0 lg:mr-1 lg:max-w-48">
                        <!-- date --><div><h3 class="text-2xl">{{ datesOfWeek[2] }}</h3></div>
                        <!-- content --><div></div>
                    </div>

                    <div [ngClass]="{'border-2': isCurrentDate(datesOfWeek[3]), 'border-gray-600': isCurrentDate(datesOfWeek[3])}" class="bg-white border border-gray-400 w-full h-44 rounded-md mb-1 flex flex-col p-3 lg:mb-0 lg:mr-1 lg:max-w-48">
                        <!-- date --><div><h3 class="text-2xl">{{ datesOfWeek[3] }}</h3></div>
                        <!-- content --><div></div>
                    </div>

                    <div [ngClass]="{'border-2': isCurrentDate(datesOfWeek[4]), 'border-gray-600': isCurrentDate(datesOfWeek[4])}" class="bg-white border border-gray-400 w-full h-44 rounded-md mb-1 flex flex-col p-3 lg:mb-0 lg:mr-1 lg:max-w-48">
                        <!-- date --><div><h3 class="text-2xl">{{ datesOfWeek[4] }}</h3></div>
                        <!-- content --><div></div>
                    </div>

                    <div [ngClass]="{'border-2': isCurrentDate(datesOfWeek[5]), 'border-gray-600': isCurrentDate(datesOfWeek[5])}" class="bg-white border border-gray-400 w-full h-44 rounded-md mb-1 flex flex-col p-3 lg:mb-0 lg:mr-1 lg:max-w-48">
                        <!-- date --><div><h3 class="text-2xl">{{ datesOfWeek[5] }}</h3></div>
                        <!-- content --><div></div>
                    </div>

                    <div [ngClass]="{'border-2': isCurrentDate(datesOfWeek[6]), 'border-gray-600': isCurrentDate(datesOfWeek[6])}" class="bg-white border border-gray-400 w-full h-44 rounded-md flex flex-col p-3 lg:max-w-48">
                        <!-- date --><div><h3 class="text-2xl">{{ datesOfWeek[6] }}</h3></div>
                        <!-- content --><div></div>
                    </div>
                </div>

                <button (click)="onCalendarRightClick()" class="bg-white hidden hover:bg-597385 border-2 border-gray-400 text-black text-lg rounded-full w-9 h-9 text-center ml-2 mt-4 lg:block lg:mt-0">→</button>
                <button (click)="onCalendarRightClick()" class="bg-white hover:bg-597385 border-2 border-gray-400 text-black text-lg rounded-full w-9 h-9 text-center mt-4 lg:hidden">↓</button>
            </div>
        </div>
 </div>
 <div class="flex flex-col items-center p-6 w-full">
    <h2 class="text-3xl lg:text-4xl">flavourful ideas</h2>
    <p class="text-sm lg:text-base">suggestions to brighten your plate</p>
    <div class="flex flex-col items-center mt-10 w-3/4">
        <button class="bg-0064ac hover:bg-597385 text-white text-lg rounded-md w-full max-w-[600px] h-10 text-left pl-4 md:h-14 md:text-xl">chicken jalfrezi</button>
        <button class="bg-0064ac hover:bg-597385 text-white text-lg rounded-md w-full max-w-[600px] h-10 text-left mt-4 pl-4 md:h-14 md:text-xl">spaghetti and meatballs</button>
        <button class="bg-0064ac hover:bg-597385 text-white text-lg rounded-md w-full max-w-[600px] h-10 text-left mt-4 pl-4 md:h-14 md:text-xl">chicken parmesan</button>
        <button class="bg-0064ac hover:bg-597385 text-white text-lg rounded-md w-full max-w-[600px] h-10 text-left mt-4 pl-4 md:h-14 md:text-xl">lasagna</button>
    </div>
    <button (click)="onRecipesClick()" class="bg-013a63 hover:bg-597385 text-white text-lg rounded-md w-32 h-12 text-center mt-10 sm:w-32 sm:text-lg md:w-36 md:text-xl">my recipes</button>
 </div>
</div>
