<div class="bg-white flex flex-col justify-center w-screen mt-12 sm:mt-14 md:mt-16 lg:mt-20">
   <div class="bg-ebe9e5 w-screen flex flex-col justify-center items-center pt-6 pb-6 ">

        <!-- Left Image -->
        <!-- mb --><img class="absolute left-0 w-20 object-cover z-0 sm:w-24 md:hidden" src="../assets/img/half-healthy-meal-1.png" alt="Left Image">
        <!-- md --><img class="absolute left-0 w-44 object-cover z-0 hidden sm:hidden md:block" src="../assets/img/3qrtr-healthy-meal-1.png" alt="Left Image">

        <!-- Right Image -->
        <!-- mb --><img class="absolute right-0 top-14 w-24 object-cover z-0 sm:top-18 sm:w-28 md:hidden" src="../assets/img/half-pizza-1.png" alt="Right Image">
        <!-- md --><img class="absolute right-0 top-22 w-44 object-cover z-0 hidden sm:hidden md:block" src="../assets/img/3qrtr-pizza-1.png" alt="Right Image">
         
        <!-- Text Container -->
        <div class="flex flex-col item-center justify-center z-20 max-w-mb-home-text sm:max-w-sm-home-text">
            <p class="text-3xl self-center text-center sm:text-4xl">all your recipes in one place</p>
            <p class="text-2xl self-center text-center sm:text-3xl">•</p>
            <p class="text-3xl self-center text-center sm:text-4xl">meal planning simplified</p>
        </div>

        <!-- Button Container -->
        <div class="flex flex-row item-center justify-center z-20 w-3/4 mt-4 sm:mt-8 md:mt-12">
            <button class="bg-013a63 text-white text-mb-button rounded-md w-24 h-9 text-center mr-4 sm:mr-6 sm:w-28 sm:h-10 sm:text-lg md:mr-8 md:w-32 md:h-11 md:text-xl">login</button>
            <p class="text-2xl self-center text-center sm:text-3xl">•</p>
            <button class="bg-013a63 text-white text-mb-button rounded-md w-24 text-center ml-4 sm:ml-6 sm:w-28 sm:h-10 sm:text-lg md:ml-8 md:w-32 md:h-11 md:text-xl">sign up</button>
        </div>
        <button class="bg-013a63 text-white text-lg rounded-full w-7 h-7 text-center mt-3 sm:mt-5 sm:w-9 sm:h-9 sm:text-xl">↓</button>
        
   </div>
</div>