<div class="z-0 bg-white flex flex-col justify-center w-full mt-12 sm:mt-14 md:mt-16 lg:mt-20">
   <div class="bg-ebe9e5 w-full flex flex-col justify-center items-center pt-6 pb-6 lg:pt-10 ">

        <!-- Left Image -->
        <!-- mb --><img class="absolute left-0 w-20 object-cover z-0 sm:w-24 md:hidden" src="../assets/img/food/half-healthy-meal-1.png" alt="Left Image">
        <!-- md --><img class="absolute left-0 w-44 object-cover z-0 hidden sm:hidden md:block lg:block lg:w-56 lg:top-48" src="../assets/img/food/3qrtr-healthy-meal-1.png" alt="Left Image">

        <!-- Right Image -->
        <!-- mb --><img class="absolute right-0 top-14 w-24 object-cover z-0 sm:top-18 sm:w-28 md:hidden" src="../assets/img/food/half-pizza-1.png" alt="Right Image">
        <!-- md --><img class="absolute right-0 top-22 w-44 object-cover z-0 hidden sm:hidden md:block lg:block lg:top-32 lg:w-64" src="../assets/img/food/3qrtr-pizza-1.png" alt="Right Image">
         
        <!-- Text Container -->
        <div class="flex flex-col item-center justify-center z-0 max-w-mb-home-text sm:max-w-sm-home-text md:max-w-md-home-text lg:max-w-lg-home-text">
            <p class="z-0 text-3xl self-center text-center sm:text-4xl lg:text-5xl">all your recipes in one place</p>
            <p class="z-0 text-2xl self-center text-center sm:text-3xl">•</p>
            <p class="z-0 text-3xl self-center text-center sm:text-4xl lg:text-5xl">meal planning simplified</p>
        </div>

        <!-- Button Container -->
        <div class="flex flex-row item-center justify-center z-0 w-3/4 mt-4 sm:mt-8 md:mt-12 lg:mt-16">
            <button class="bg-013a63 hover:bg-597385 text-white text-mb-button rounded-md w-24 h-9 text-center mr-4 sm:mr-6 sm:w-28 sm:h-10 sm:text-lg md:mr-8 md:w-32 md:h-11 md:text-xl">login</button>
            <p class="text-2xl self-center text-center sm:text-3xl">•</p>
            <button class="bg-013a63 hover:bg-597385 text-white text-mb-button rounded-md w-24 text-center ml-4 sm:ml-6 sm:w-28 sm:h-10 sm:text-lg md:ml-8 md:w-32 md:h-11 md:text-xl">sign up</button>
        </div>
        <button class="bg-013a63 hover:bg-597385 text-white text-lg rounded-full w-7 h-7 text-center mt-3 sm:mt-5 sm:w-9 sm:h-9 sm:text-xl lg:mt-28">↓</button>
   </div>

   <div class="w-full flex flex-col justify-center items-center pt-3 pb-5 text-center">
        <div class="max-w-sm-works-text lg:max-w-md-home-text">
            <h1 class="text-2xl sm:text-3xl lg:text-4xl">how it works</h1>
            <p class="text-xs sm:text-sm lg:text-base">upload pdfs or images • categorize • enjoy your recipes in one place • stress free meal planning</p>
        </div>

        <div class="flex flex-col justify-center items-center lg:flex-row lg:mt-8 lg:items-start">
            <div class="flex flex-col justify-center items-center mt-8 max-w-sm-works-text lg:mt-0">
                <div class="bg-013a63 rounded-full w-40 h-40 sm:w-44 sm:h-44"></div>
                <h2 class="text-xl mt-3 sm:text-2xl">all your recipes right here</h2>
                <p class="text-xs mt-0.5 sm:text-sm">browse all your recipes in one spot wth the ability to filter by category, or search for a specific recipe</p>
            </div>
    
            <div class="flex flex-col justify-center items-center mt-8 max-w-sm-works-text lg:mt-0 lg:mr-1 lg:ml-1 lg-xl:mr-7 lg-xl:ml-7">
                <div class="bg-013a63 rounded-full w-40 h-40 sm:w-44 sm:h-44"></div>
                <h2 class="text-xl mt-3 sm:text-2xl">simplified meal planning</h2>
                <p class="text-xs mt-0.5 sm:text-sm">set up automatic meal planning on 1 or 2 week intervals, or choose meals manually</p>
            </div>
    
            <div class="flex flex-col justify-center items-center mt-8 max-w-sm-works-text lg:mt-0">
                <div class="bg-013a63 rounded-full w-40 h-40 sm:w-44 sm:h-44 lg:w-44 lg:h-44"></div>
                <h2 class="text-xl mt-3 sm:text-2xl">convenient grocery list</h2>
                <p class="text-xs mt-0.5 sm:text-sm">turn on automatic grocery list to have the ingredients of your meal plan on a list that can be printed, saved, or texted to you</p>
            </div>
        </div>
    </div>

    <div class="bg-ebe9e5 w-full flex flex-col justify-center items-center pt-3 pb-3 text-center sm:pt-5 sm:pb-5 md:pt-7 md:pb-7 lg:pt-9 lg:pb-9">
        <p class="text-2xl max-w-[225px] sm:max-w-[600px] lg:max-w-[900px] sm:text-3xl lg:text-4xl">transfer your physical cookbooks to the web</p>
        <button class="bg-013a63 hover:bg-597385 text-white text-mb-button rounded-md w-28 h-9 text-center mt-4 sm:mt-6 sm:w-32 sm:h-10 sm:text-lg md:w-36 md:h-11 md:text-xl lg:mt-9">get started</button>
    </div>
</div>