<div class="z-0 bg-white flex flex-col justify-center mt-12 sm:mt-14 md:mt-16 lg:mt-20">
   <div class="bg-ebe9e5 flex flex-col justify-center items-center pt-16 pb-6 lg:pt-24 xl:pt-[200px]">

        <!-- Left Image -->
        <!-- mb --><img class="absolute left-0 w-20 top-40 object-cover z-0 sm:w-24 md:hidden" src="../assets/img/food/half-healthy-meal-1.png" alt="Left Image">
        <!-- md --><img class="absolute left-0 w-44 object-cover z-0 hidden sm:hidden md:block lg:block lg:w-56 lg:top-64 xl:top-80" src="../assets/img/food/3qrtr-healthy-meal-1.png" alt="Left Image">

        <!-- Mid-Left Image -->
        <img class="absolute left-64 top-48 hidden w-72 object-cover z-0 xl1730:block xl2100:left-80 xl2100:top-24 xl2100:w-96" src="../assets/img/food/pasta-1.png" alt="Mid-Right Image">
        <!-- <img class="absolute left-[525px] top-36 hidden w-48 object-cover z-0 xl2100:block" src="../assets/img/food/healthy-meal-3.png" alt="Mid-Right Image"> -->

        <!-- Right Image -->
        <!-- mb --><img class="absolute right-0 top-22 w-24 object-cover z-0 sm:top-18 sm:w-28 md:hidden" src="../assets/img/food/half-pizza-1.png" alt="Right Image">
        <!-- md --><img class="absolute right-0 top-22 w-44 object-cover z-0 hidden sm:hidden md:block lg:block lg:top-40 lg:w-64 xl:top-56" src="../assets/img/food/3qrtr-pizza-1.png" alt="Right Image">

        <!-- Mid-Right Image -->
        <img class="absolute right-80 top-56 hidden w-64 object-cover z-0 xl1730:block xl2100:top-36 xl2100:w-[350px]" src="../assets/img/food/healthy-meal-2.png" alt="Mid-Right Image">
         
        <!-- Text Container -->
        <div class="flex flex-col item-center justify-center z-0 max-w-mb-home-text sm:max-w-sm-home-text md:max-w-md-home-text lg:max-w-lg-home-text">
            <p class="z-0 text-3xl self-center text-center sm:text-4xl lg:text-5xl">all your recipes in one place</p>
            <p class="z-0 text-2xl self-center text-center sm:text-3xl">•</p>
            <p class="z-0 text-3xl self-center text-center sm:text-4xl lg:text-5xl">meal planning simplified</p>
        </div>

        <!-- Button Container -->
        <div class="flex flex-row item-center justify-center z-0 w-3/4 mt-8 mb-6 md:mt-12 lg:mt-16">
            <button class="bg-013a63 hover:bg-597385 text-white text-lg rounded-md w-24 h-12 text-center mr-4 sm:mr-6 sm:w-28 md:mr-8">login</button>
            <p class="text-2xl self-center text-center sm:text-3xl">•</p>
            <button class="bg-013a63 hover:bg-597385 text-white text-lg rounded-md w-24 h-12 text-center ml-4 sm:ml-6 sm:w-28 md:ml-8">sign up</button>
        </div>
        <button class="bg-013a63 hover:bg-597385 text-white text-lg rounded-full w-9 h-9 text-center mt-4 lg:mt-28 xl:mt-[150px]">↓</button>
   </div>

   <div class="w-full flex flex-col justify-center items-center pt-6 pb-6 text-center">
        <div class="max-w-sm-works-text lg:max-w-md-home-text">
            <h1 class="text-3xl lg:text-4xl">how it works</h1>
            <p class="text-sm lg:text-base">upload pdfs or images • categorize • enjoy your recipes in one place • stress free meal planning</p>
        </div>

        <div class="flex flex-col justify-center items-center lg:flex-row lg:mt-8 lg:items-start xl:mt-[75px] xl:mb-[75px]">
            <div class="flex flex-col justify-center items-center mt-8 max-w-sm-works-text lg:mt-0">
                <div class="shadow-md transition-transform transform hover:-translate-y-1 hover:shadow-lg w-52 h-52 sm:w-56 sm:h-56"><img class="shadow-md border border-black object-cover rounded-lg" src="../assets/img/how-it-works/recipes-right-here.png"></div>
                <h2 class="text-2xl mt-3 sm:text-2xl">all your recipes right here</h2>
                <p class="text-sm mt-0.5 sm:text-sm">browse all your recipes in one spot wth the ability to filter by category, or search for a specific recipe</p>
            </div>
    
            <div class="flex flex-col justify-center items-center mt-8 max-w-sm-works-text lg:mt-0 lg:mr-1 lg:ml-1 lg-xl:mr-7 lg-xl:ml-7">
                <div class="shadow-md transition-transform transform hover:-translate-y-1 hover:shadow-lg w-52 h-52 sm:w-56 sm:h-56"><img class="border border-black object-cover rounded-lg" src="../assets/img/how-it-works/simplified-meal-planning.png"></div>
                <h2 class="text-2xl mt-3 sm:text-2xl">simplified meal planning</h2>
                <p class="text-sm mt-0.5 sm:text-sm">set up automatic meal planning on 1 or 2 week intervals, or choose meals manually</p>
            </div>
    
            <div class="flex flex-col justify-center items-center mt-8 max-w-sm-works-text lg:mt-0">
                <div class="shadow-md transition-transform transform hover:-translate-y-1 hover:shadow-lg w-52 h-52 sm:w-56 sm:h-56"><img class="border border-black object-cover rounded-lg" src="../assets/img/how-it-works/convenient-grocery-list.png"></div>
                <h2 class="text-2xl mt-3 sm:text-2xl">convenient grocery list</h2>
                <p class="text-sm mt-0.5 sm:text-sm">turn on automatic grocery list to have the ingredients of your meal plan on a list that can be printed, saved, or texted to you</p>
            </div>
        </div>
    </div>

    <div class="bg-ebe9e5 w-full flex flex-col justify-center items-center pt-6 pb-6 text-center sm:pt-5 sm:pb-5 md:pt-7 md:pb-7 lg:pt-9 lg:pb-9 xl:pt-[100px] xl:pb-[100px]">
        <p class="text-3xl max-w-[225px] sm:max-w-[600px] lg:max-w-[900px] sm:text-3xl lg:text-4xl">transfer your physical cookbooks to the web</p>
        <button class="bg-013a63 hover:bg-597385 text-white text-lg rounded-md w-32 h-12 text-center mt-4 sm:mt-6 sm:w-32 sm:text-lg md:w-36 md:text-xl lg:mt-9">get started</button>
    </div>
</div>